body {
    margin: 0;
    position: relative;
    background-color: #fffaff;
    color: #0A2463;
}
button {
    background-color: #0A2463;
    color: #fffaff;
    border-radius: 30px;
    border: none;

}
button:hover {
    background-color: #D8315B ;
    color: #fffaff;
    border-radius: 30px;
    border: none;

}
button a {

    color: #fffaff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    height: 70px;
    width: 150px;
}

.page-container {
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}
.container {
    width: 97%;
    margin: 0 auto;
    font-weight: 700;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
header {
    background: #23B5D3;
}
.logo {
    float: left;
    padding: 10px 0;
    width: 230px;
    margin-right: 10px;
}
nav {

}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 25px;
    position: relative;
}
span { 
    margin-left: 50px;
}
nav a {
    color: #fffaff;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color: #0A2463;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #0A2463;
    position: absolute;
    top: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}
.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 150px;
}

.innerfooter {
    margin: 0;
    padding: 0;
    background-color: #23B5D3;
}
.social-links {
    display: flex;
}
.social-links ul{
    padding: 50px;
    display: flex;
    width: 200px;
    height: 30px;
    margin: auto;
    align-items: center;
}
.social-items {
    list-style: none;
}

.social-items a {
    padding: 10px 20px;
    font-size: 35px;
    color: #fffaff;
    transition: all .25s;
    align-items: center;

}
.social-items a:hover{
    color: #D8315B;
}
.outer-footer {
    padding: 10px;
    text-align: center;
    color: #fffaff;
    font-size: 18px;
    background-color: #0A2463;
}

.login_form {
    width: 320px;
    height:350px;
    background: #23B5D3;
    color: #def2f1;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: 0;
    margin-bottom: 4em;
    border-radius: 40px;
}
.avatar {
    width:100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login_form h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login_form p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login_form input {
    width: 100%;
    margin-bottom: 20px;
}

.login_form input[type='text'], input[type='password'] {
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 14px;
}

.login_form input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #0A2463;
    color: #fffaff;
}
.login_form input[type='submit']:hover {
    cursor: pointer;
    background: #D8315B ;
    color: #FDFFFC;
}
.register-form {
    width: 450px;
    height:550px;
    background: #23B5D3;
    color: #0A2463;
    top: 30%;
    left: 50%;
    bottom: 30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: 10em;
    border-radius: 40px;
}
.register-form h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.register-form input {
    width: 100%;
    margin-bottom: 10px;
}
.register-form input[type='text'], input[type='password'] {
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
}
.register-form input[type='submit'] {
    border: none;
    outline: none;
    height: 30px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #0A2463;
    color: #fffaff;
}
.register-form input[type='submit']:hover {
    cursor: pointer;
    background: #D8315B ;
    color: #fffaff;
}
.content-wrap {
    margin: 6rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 2rem;
}

.article-image {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    
}
.article-card {
    background: #23B5D3;
    color: #0A2463;
    border-radius: 20px;
    transition: 0.3s;
}
.article-card:hover {
    box-shadow: 0 4px 20px rgba(34,68,123,0.4);
    cursor: pointer;
}
.article-content {
    padding: 2rem;
}
.article-content.card-date {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    display: block;
    text-decoration: none;
}
.article-content.card-title {
    margin: 1rem;
    color: black;
    text-decoration: none;

}
.article-content.card-description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0A2463;
    margin: 0;

}
@media screen and (min-width: 768px)
{
    .content-wrap{
        max-width: 608px;
    }
    .article-card {
        display: grid;
        grid-template-rows: 220px 1fr;
    }
}
@media screen and (min-width: 1280px) {
    .content-wrap {
        max-width: 1156px;
    }

}
.home-heading h1{
    text-align: center;
    margin-top: 5rem;
}
.allposts-heading h1 {
    text-align: center;
    margin-top: 5rem;
}
.order-buttons {
    text-align: center;
}
.search-heading h1 {
    text-align: center;
    margin-top: 5rem;
}
.tagged-heading h1 {
    text-align: center;
    margin-top: 5rem;
}

.no-results p{
    text-align:center; 
    vertical-align: middle; 
    font-size: 28px; 
}
.post-content h1 {
    text-align: center;
    margin-top: 5rem;
}
.post-content h2 {
    text-align: center;
    margin: 0;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.post-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.user-tag-like {
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.post-contents {
    text-align: center;
    margin-top: 6rem;
}
.comment-form {
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.user-comments p {
    margin-top: 6rem;
    margin-bottom: 5rem;
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
    border: #0A2463 1px solid;
    height: 100px;
    width: 500px;

}
.about-title {
    text-align: center;
    text-align: center;
    margin-top: 5rem;
}

.me-pic {
    border-radius: 50%;
    height: 300px;
    width: auto;

}
.my-pic {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.about-info {
    text-align: center;
    font-size: 20px;
    margin-top: 3rem;
}
