{% extends "layout.html" %}
{% block content %}
<div class='content-wrap'>
    {% for post in posts %}

    <article class='article-card'>
        <figure class='article-image'>
            <a href="{{ url_for('post', post_id=post.id) }}">
                <img src="{{ url_for('static', filename='img/' + post.image_file) }}">
            </a>
        </figure>
        <div class="article-content">
            <p class='card-date'>{{ post.date }}</p>
            <h3 class='card-title'><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p class='card-description'>{{ post.description }}<br>by {{ post.user.username }}<br>{{ post.likes.count()
                }} like(s)</p>
            <button><a class='link-blog' href="{{ url_for('post', post_id=post.id) }}">Read On</a></button>
        </div>

    </article>

    {% endfor %}
</div>
{% endblock content %}