{% extends "layout.html" %}
{% block content %}

<a href="{{ url_for('allposts', sortBy='ascending') }}">Date Ascending</a>
<a href="{{ url_for('allposts', sortBy='descending') }}">Date Descending</a>

{% for post in posts %}

<div class='blog-posts'>
    <div class='blog-post-image'>
        <a href="{{ url_for('post', post_id=post.id) }}">
            <img src="{{ url_for('static', filename='img/' + post.image_file) }}">
        </a>
    </div>
    <div class='blog-info'>
        <div class='date'>
            <span>"{{ post.date }}"</span>
        </div>
        <h1 class='blog-title'>
            <a href="{{ url_for('post', post_id=post.id) }}">"{{ post.title }}"</a>
        </h1>
        <div class='blog-text'>
            <p class='blog-author'>by {{ post.user.username }}</p>
            <p class='blog-description'>{{ post.description }}</p>
            <p class='like-count'>{{ post.likes.count() }} likes</p>
        </div>
        <a class='link-blog' href='#'>Read On</a>
    </div>
</div>
{% endfor %}
{% endblock content %}