<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Wonderful Site</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav id='navigation'>
        <div class='container'>
            <div>
                <ul>
                    <li><img src="{{ url_for('static', filename='img/logo.png' ) }}" class='logo'></li>
                    <li><a href="{{ url_for('home') }}">Home</a>&nbsp</li>
                    <li><a href="{{ url_for('about') }}">About Us</a>&nbsp</li>
                    <li><a href="{{ url_for('allposts') }}">All Posts</a>&nbsp</li>
                    <li>
                        <form method="POST">
                            <input type='text' name='search_term' placeholder="Blog Post Search">
                            <input type='submit' formaction='/search' name='Search'>
                        </form>
                    </li>
                </ul>
            </div>
            <div class='login-items'>
                <ul>
                    <li>
                        {% if current_user.is_authenticated %}
                        <span>Hello, {{ current_user.username }}!</span>
                        {% else %}
                        <span>Hello, Guest!</span>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('view_tagged') }}">Tagged Posts</a>
                        {% else %}
                        <a href="{{ url_for('login') }}">Login</a>&nbsp
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}">Logout</a>&nbsp
                        {% else %}
                        <a href="{{ url_for('register') }}">Register</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>