{% extends "layout.html" %}
{% block content %}
<img src="{{ url_for('static', filename='img/' + post.image_file) }}">
<p>"{{ post.title }}" &nbsp; Author: {{ post.user.username }}</p>
<p>{{ post.content }}</p>

{% if current_user.is_authenticated %}
{% if current_user.has_tagged(post) %}
<a href="{{ url_for('post_tag', post_id=post.id, action='untag') }}">Untag</a>
{% else %}
<a href="{{ url_for('post_tag', post_id=post.id, action='tag') }}">Tag</a>
{% endif %}
{% endif %}

{% for comment in comments %}
<p>"{{ comment.content }}" &nbsp <small>Author: {{ comment.user.username }}</small></p>
{% endfor %}
{% if current_user.is_authenticated %}
<form method="POST" action="{{ url_for('post_comment', post_id=post.id) }}">
    {{ form.hidden_tag() }}
    <div class="">
        {{ form.comment.label }} {{ form.comment }}
        {% for error in form.comment.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.submit() }}
    </div>
</form>
{% endif %}


{% if current_user.is_authenticated %}
{% if current_user.has_liked(post) %}
<a href="{{ url_for('post_like', post_id=post.id, action='unlike') }}">
    <img src="{{ url_for('static', filename='img/down.png') }}"></a>
{% else %}
<a href="{{ url_for('post_like', post_id=post.id, action='like') }}"><img
        src="{{ url_for('static', filename='img/like.png') }}"></a>
{% endif %}
{% endif %}

{{ post.likes.count() }} like(s)

{% endblock content %}